# Managed by ansible

{{ php_slowlog_path }} {
        rotate 12
        weekly
        missingok
        notifempty
        compress
        delaycompress
        postrotate
                {{fpm_reopenlogs_path}}
        endscript
}
