;{{ ansible_managed }}
;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

include={{ php_conf_path }}/fpm/pool.d/*.conf

;;;;;;;;;;;;;;;;;;
; Global Options ;
;;;;;;;;;;;;;;;;;;

[global]
error_log = /var/log/php-fpm.log
{% if fpm_process_control_timeout != "" %}process_control_timeout = {{ fpm_process_control_timeout }}{% endif %}
